<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="com.Smyttenapplication.utility.RetryListener" />
		<listener class-name="com.Smyttenapplication.utility.Listener" />
	</listeners>
	
	
  <test thread-count="5" name="Test">
  	
  	 	<!-- https://mvnrepository.com/artifact/org.testng/testng -->
    <classes>
    	<class name="com.Smyttenapplication.testcase.Logintest"/>
        <class name="com.Smyttenapplication.testcase.Totalingproductpriceincarttest"/>	
  	 	<class name="com.Smyttenapplication.testcase.gesturestest"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
